
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>Начало</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card *ngIf="user">
    
    <ion-card-header>
      Моят профил
    </ion-card-header>
    
    <ion-row>
      <ion-col>
        <h2>{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</h2>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-xs-6 col-sm-4>
        Телефон:
      </ion-col>
      
      <ion-col col-xs-6 col-sm-8>
        {{ user.phone }}
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-xs-6 col-sm-4>
        Ел. поща:
      </ion-col>
      
      <ion-col col-xs-6 col-sm-8>
        {{ user.email }}
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-xs-6 col-sm-4>
        ЕГН:
      </ion-col>
      
      <ion-col col-xs-6 col-sm-8>
        {{ user.egn }}
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-xs-6 col-sm-4>
        Дата на раждане:
      </ion-col>
      
      <ion-col col-xs-6 col-sm-8>
        {{ user.dob | date : 'dd/MM/yyyy' }}
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-xs-6 col-sm-4>
        Пол:
      </ion-col>
      
      <ion-col col-xs-6 col-sm-8>
        {{ user.gender }}
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="user.address">
      <ion-col col-xs-6 col-sm-4>
        Адрес:
      </ion-col>
      
      <ion-col col-xs-6 col-sm-8>
        {{ user.address }}
      </ion-col>
    </ion-row>

      
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block [navPush]="doctorInfoPage">Личен лекар</button>
      </ion-col>

      <ion-col>
        <button ion-button block [navPush]="prescriptionsPage">Рецепти</button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>



